<div class="jumbotron">
  <h1 class="display-4">Workout Tracker</h1>
  <p class="lead">This is a simple tool to track your fitness progress</p>
  <hr class="my-4">
  <p>login or signup to get started</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a>
</div>