<div class="jumbotron">
  <h1 class="display-4">Workout Tracker</h1>
  <p class="lead">This is a simple tool to track your fitness progress</p>
  <hr class="my-4">
  <p>Pick one of the three categories to get started</p>
  <a class="btn btn-primary btn-lg" href="/run" role="button">Running</a>
  <a class="btn btn-primary btn-lg" href="/bike" role="button">Bicycling</a>
  <a class="btn btn-primary btn-lg" href="/weight" role="button">Weight Lifting</a>
</div>